@inherits LayoutComponentBase
@using cnu_cinema_practice.Components.Layout

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Бронювання - CNU Cinema</title>
    <base href="/" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/halls.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <HeadOutlet />
</head>

<body style="margin: 0; padding: 0; background-color: #020617; color: white;">
    <CascadingAuthenticationState>
        <NavBar />
        <main>
            @Body
        </main>
    </CascadingAuthenticationState>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/_framework/blazor.web.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>
